@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


p, input, button{
  font-family: 'DM Sans', sans-serif;
}

.formBg{
  background-color: rgba(23, 23, 23, 0.6);
}

.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}



